nav{
	float: none;
	width: 720px;
	margin-top:20px;
}
header{
	margin-top: 50px;
	color:lightblue;
	margin-left: 425px;
	font-family: arial;
}
body{
	background-repeat: no-repeat;
}
section{
	margin-top: 450px;
	float: left;
	width: 720px;
	height: 480px;
	border-color:lightskyblue;
}
footer{
	float: left;
	margin-top:3000px;
}
body{
	background-color: #f2f2f2;
	margin: 36px auto;
	width: 720px;
}
nav ul{
	list-style-type: none;
	margin: 5px;
	padding: 0px;
}
nav ul li{
	margin: 0px; 
	padding: 20px; 
	text-transform: capitalize; 
	font-size: 20px;
}
nav ul li a{
	color: lightblue;
	text-decoration: none;
	margin-left:100px;
	padding:center;
	font-family: arial;
}
article{
	margin-top: 25px; padding: 10px;
	margin-bottom: 20px; padding: 10px;
	border-radius: 5px 5px 5px 5px;
	border-color:lightskyblue;
	border-style: solid;
	border-width: 2px;
}
nav ul li{
	margin: 0px; padding: 8px; 
	text-transform: capitalize;
	font-size: 20px; 
	border-style: solid;
	border-width: 2px;
	border-color: lightskyblue;
	border-radius: 10px 10px 10px  10px;
}
p{
	font-family:arial;
	margin-top: 10px; padding: 1px;
	font-size: 20px;
	font-size: 20px;
	border-style: none ;
	border-width: 2px;
	border-radius: 10px 10px 10px  10px;
	padding: 15px;
	border-color:lightskyblue;
}
section h3{
	color:lightskyblue;
	font-family:arial;
	margin-left: 270px;
}

	div #img1{
			-webkit-transform: translate(0px, 0px); transform: rotate(-2deg);
			-moz-transform: translate(0px, 0px); transform: rotate(-2deg);
			-ms-transform: translate(0px, 0px); transform: rotate(-2deg);
		width: 80%;
		border-radius: 10px 10px 10px  10px;
		border-color: black;
		border-style: solid;
		margin-left: 9.5%;
	}

	div #img2{
			-webkit-transform: translate(0px, 0px); transform: rotate(2deg);
			-moz-transform: translate(0px, 0px); transform: rotate(2deg);
			-ms-transform: translate(0px, 0px); transform: rotate(2deg);
		width: 80%;
		border-radius: 10px 10px 10px  10px;
		border-color: black;
		border-style: solid;
		margin-left: 9.5%;
	}

	div #img3{
			-webkit-transform: translate(0px, 0px); transform: rotate(-1deg);
			-moz-transform: translate(0px, 0px); transform: rotate(-1deg);
			-ms-transform: translate(0px, 0px); transform: rotate(-1deg);
		width: 80%;
		border-radius: 10px 10px 10px  10px;
		border-color: black;
		border-style: solid;
		margin-left: 9.5%;
	}